@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.quiz-header {
    background-color: #428bca;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.quiz-question {
    padding: 20px;
    color: #333;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.quiz-option {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-option:hover {
    background-color: #f0f0f0;
}

.quiz-button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
  
.button:hover {
    background-color: #3071a9;
}

.quiz-result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.start-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #3071a9;
}

.hide {
    display: none;
}
